v12/src/Example_JSONObject_Mapping/ExampleXMLSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" xmlns:tns="http://www.ibm.com/ExampleTargetNamespace" targetNamespace="http://www.ibm.com/ExampleTargetNamespace">
<element name="Message" type="tns:MessageType"></element>
<complexType name="MessageType">
<sequence>
<element name="Country" type="tns:CountryType"></element>
</sequence>
</complexType>
<complexType name="CountryType">
<sequence>
<element name="Name" type="string"></element>
<element name="Greeting" type="string"></element>
</sequence>
</complexType>
</schema>